@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e3f2fd;
    
}

.section-placement{
    height: 100vh;
    margin-top: 85px;
    position: relative;
}

